* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

/*cores*/
:root {
    --fundo: #000;
    --textoPrimario: #EEEEEE;
    --textoSecundario: #A7A6A6;
    --primeiroPlano: #363636;
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 1rem 2rem var(--color-light);
}

.modoClaro:root {

    --fundo: #FFF;
    --textoPrimario: #262626;
    --textoSecundario: #ACACAC;
    --primeiroPlano: #FFF;
    --color-background: #f6f6f9;
    --color-white: #fff;
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 1rem 1rem 2rem var(--color-light);
}

body {
    background: var(--color-background);
    transition: background 0.5s;
    width: 100vw;
    height: 100vh;
}
.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon::before {
    content: "\f186";
    font-family: fontAwesome;
    color: var(--color-white);
    font-size: 30px;
    transition: background 0.5s;
}
section.container{
    width: auto;
    height: auto;
}
section.tempoHome{
    display: flex;
    padding: 32px;
}
section.temPage{
    display: flex;
    border-radius: 8px;

}
section.temPage section.left{
    width: 50%;
    padding: 1rem;
}
section.darkIcon{
    padding: 1rem;
}
section.temPage section.left h1, section.left h2{
    font-size: 50px;
    text-align: center;
    color: var(--textoPrimario);
}
section.temPage picture.right{
    width: 50%;
    padding: 1rem 1.5rem;
    text-align: center;
    height: 500px;

}
section.temPage picture.right img{
    height: 100%;
    width: auto;
    border-radius: 20px;

}
@media (max-width:768px) {
    section.container, section.tempoHome, section.temPage{
        padding: 0;
    }
    section.tempoHome{
        flex-direction: column;
        justify-content: center;
        width: auto;
    }
    section.temPage{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    section.left{
        order: 2;
    }
    section.temPage section.left , picture.right{
        width: 100%;
    }
    section.temPage section.left h1, section.left h2{
        font-size: 30px;
    }
    section.temPage picture.right{
        height: 200px;
        padding: 10px 0 0;
    }
    section.temPage picture.right img{
        border-radius: 50%;
        object-fit: cover;
        width: auto;
        height: 100%;
        box-shadow: var(--box-shadow);
    }
}

@media(min-width:1400px) {
    section.container {
        max-width: 1320px;
    }
}